<%- include('partials/header'); -%>
<br>
<div>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="username" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="email">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>

<%- include('partials/footer'); -%>